body {
  margin: 0;
}

.main {
  position: relative;
}

.h-nav {
  width: 100vw;
  max-height: 90px;
  height: 90%;
  background-color: bisque;
}

.nav {
  width: 100vw;
  background-color: bisque;
  position: absolute;
  align-items: column;
}

.logos {
  width: 50px;
  height: 57px;
  max-width: 70%;
  max-height: 70%;
  margin-top: 1px;
  margin-left: 2%;
  align-content: column;
}

.logost { 
  flex: 1;
  flex-direction: column/;
}